.routing-control-wrapper {
    font-family: sans-serif;
    position: absolute;
    top: 5px;
    right: 5px;
    max-height: calc(100% - 50px);
    width: 315px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
}

.routing-control {
    transition: "width, height, font-size" 0.25s ease-out;
    background-color: white;
    color: #444;
    padding: 0.25em 0.75em;
}

.routing-alternative h1 {
    font-size: 100%;
    display: inline-block;
}

.routing-alternative h1 a {
    text-decoration: none;
    color: inherit;
}

.routing-route-summary {
    padding: 0.83em;
    margin-bottom: 0.83em;
    border-bottom: 1px solid #ccc;
}

.routing-route-itinerary {
    max-height: 90%;
    overflow: hidden;
    font-size: 12px;
}

.routing-alternative {
    color: #aaa;
}

.routing-alternative.routing-selected {
    color: #444;
}

.routing-control-geocoder {
    position: relative;
    margin: 0;
    padding: 0;
}

.routing-control-geocoder input {
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin: 0.5em 0 0.5em 0;
    padding: 0 0.3em 0.2em 0.3em;
    z-index: 10;
}

.routing-control-geocoder ul {
    width: 100%;
    background-color: white;
    list-style-type: none;
    position: absolute;
    border: 1px solid #ddd;
    padding: 0;
    margin: 0;
    word-wrap: none;
    text-overflow: ellipsis;
    z-index: 20;
}

.routing-control-geocoder li {
    padding: 0.5em;
    border-bottom: 1px solid #ddd;
}

.routing-control-geocoder li:last {
    border-bottom: none;
}

.routing-control-geocoder li.selected {
    background-color: #ddd;
}

.routing-control-geocoder button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    word-wrap: none;
    text-overflow: ellipsis;
    width: 100%;
    text-align: left;
}